@model IEnumerable<StoreManagement.Models.Supplier>

@{
    ViewData["Title"] = "Lista de Proveedores";
}

<div>
    <h1>Lista de Proveedores</h1>

    <table class="table table-striped table-bordered align-middle my-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Contact</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm me-1">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm me-1">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <a class="btn text-light gradient-bg" asp-action="Create">Crear nuevo proveedor</a>
</div>
